﻿@model RA.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Home Page";
}

@section Featured
{
    <!-- Carousel
        ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img data-src="holder.js/100%x100%/auto/#777:#7a7a7a/text:Result Analyzer/lava" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1></h1>
                        <p>One Stop for all your Worries to Analyse your Result. Here you will get School Summary, Toppers List & much more with just One Click</p>
                        <p><a class="btn btn-lg btn-primary" href="~/Account/Register" role="button">Sign up today</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
}

@if (!User.Identity.IsAuthenticated)
{
    <!-- Login/Register -->
    <div class="row">
        <div class="col-md-6">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-success" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Register","Register", "Account") if you don't have a local account.
                    </p>
                }
            </section>
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/SubjectSummaryPieChart2.png" />
        </div>
    </div>
}
else
{
    <p>Click @Html.ActionLink("Here", "Index", "Analyse")  Begin Analysing </p>
}
<!-- Login/register End -->