﻿@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Analyse";
}
<div style="margin-top: 100px;" />

<style>
    .navbar-wrapper {
        margin-top: 0px;
    }

    .container {
        max-width: none;
    }
</style>

@using (Html.BeginForm("Index", "Analyse", FormMethod.Post))
{
    <center>
        @if (!IsPost)
        {
            <h3>Please Select a Year and Click on Submit Button</h3>

            var userId = User.Identity.GetUserId();
            using (RA.Web.Models.RAModelContainer context = new RA.Web.Models.RAModelContainer())
            {
                var schoolId = context.SchoolIdMappings.Where(sm => sm.UserId == userId).Single().SchoolId;
                var years = context.Schools.Find(schoolId).Enrollments.Select(e => e.Year).Distinct();
                <select id="Year" name="year">
                    @if (years.Count() == 0)
                    {
                        <option>--None--</option>
                    }
                    else
                    {
                        foreach (var year in years)
                        {
                            <option>@year</option>
                        }
                    }
                </select>
                <input type="submit" />
            }
            <hr />
            @Html.ActionLink("Upload Result", "Upload", "Analyse")
        }
        else
        {
            <hr />
            @Html.ActionLink("Upload Result", "Upload", "Analyse")
            <hr />
            @Html.ActionLink("School Summary", "SchoolSummary", "Analyse")
            <hr />
            @Html.ActionLink("Toppers List", "Toppers", "Analyse")
            <hr />
            @Html.ActionLink("Subject Summary", "SubjectSummary", "Analyse")
            <hr />
            @Html.ActionLink("Roll Sheet Percentage Wise", "StudentSummary", "Analyse")
            <hr />
            @Html.ActionLink("Section Summary", "SectionSummary", "Analyse")
            <hr />
            @Html.ActionLink("Update Section Details", "UpdateSectionDetails", "Analyse")
        }
    </center>
}
