﻿@model RA.Web.ViewModel.SchoolSummaryVM

@{
    ViewBag.Title = "School Result Summary";
}
<div style="margin-top: 100px;" />

<style>
    .navbar-wrapper {
        margin-top: 0px;
    }

    .container {
        max-width: none;
    }
</style>

<center>
    <h2>School Result Summary </h2>
    <label>Year : @Model.Year</label>
    <hr />
</center>

<table class="table-responsive table-bordered table-striped">
    <tr class="text-center h4">
        <td> No. of Students Appeared </td>
        <td> No. of Students Passed </td>
        <td> No. of Students Failed </td>
        <td> No. of Students Comparted </td>
        <td> No. of Students Absent </td>
        <td> Students Passed% </td>
        <td> Students Failed% </td>
    </tr>
    <tr class="text-center">
        <td class="text-primary">@Html.DisplayTextFor(m => m.NumberOfStudentsAppeared)</td>
        <td class="text-success">@Html.DisplayTextFor(m => m.NumberOfStudentsPassed)</td>
        <td class="text-danger">@Html.DisplayTextFor(m => m.NumberOfStudentsFailed)</td>
        <td class="text-warning">@Html.DisplayTextFor(m => m.NumberOfStudentsComparted)</td>
        <td class="text-info">@Html.DisplayTextFor(m => m.NumberOfStudentsAbsent)</td>
        <td class="text-success">@Html.DisplayTextFor(m => m.PassPercent)% </td>
        <td class="text-danger">@Html.DisplayTextFor(m => m.FailPercent)% </td>
    </tr>
</table>
<hr />
<div id="chart" style="min-width: 310px; height: 400px; margin: 0 auto"> </div>

@section Scripts
{
    <script type="text/javascript">
    $(function () {
        $('#chart').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'School Result Summary'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        format: '<b>{point.name}</b>: {point.percentage:.2f} %'
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'School Result Summary',
                data: [
                    ['Pass', @Html.DisplayTextFor(m => m.NumberOfStudentsPassed)],
            ['Fail',   @Html.DisplayTextFor(m => m.NumberOfStudentsFailed)],
            ['Absent', @Html.DisplayTextFor(m => m.NumberOfStudentsAbsent)],
            ['Compartment', @Html.DisplayTextFor(m => m.NumberOfStudentsComparted)],
                ]
            }]
        });
    });
</script>
}