﻿
@model RA.Web.ViewModel.SectionSummaryVM

@{
    ViewBag.Title = "Section Summary";
}
<div style="margin-top: 100px;" />

<style>
    .navbar-wrapper {
        margin-top: 0px;
    }

    .container {
        max-width: none;
    }
</style>

@using (@Html.BeginForm("SectionSummary", "Analyse", FormMethod.Post))
{
    <center>
        <h2>Section Summary</h2>
        @if (!IsPost)
        {
            <hr />
            <h4> Please Select a Section</h4>
            <label>Section : </label>
            <select id="Section" name="Section">
                @foreach (var sectionname in @ViewBag.sectionnames)
                {
                    <option>@sectionname</option>
                }
            </select>
            <input type="submit" />
        }
        else
        {
            <h4>Section : @Model.SectionName </h4>
            <h4>Year : @Model.Year</h4>

            <table class="table-responsive table-bordered table-striped">
                <tr class=" text-center">
                    <td><h3>No. of Students</h3></td>
                    <td><h3>Highest Scorers</h3></td>
                </tr>
                <tr>
                    <td>
                        <table class="table-bordered table-striped">
                            <tr class="text-center h4">
                                <td>Enrolled</td>
                                <td>Passed</td>
                                <td>Failed</td>
                                <td>Absent</td>
                                <td>Comparted</td>
                            </tr>
                            <tr class="text-center">
                                <td width="100px;">@Model.NoOfStudentsEnrolled</td>
                                <td width="100px;">@Model.NoOfStudentsPassed</td>
                                <td width="100px;">@Model.NoOfStudentsFailed</td>
                                <td width="100px;">@Model.NoOfStudentsAbsent</td>
                                <td width="100px;">@Model.NoOfStudentscomparted</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table class="table-bordered table-striped">
                            <tr class="text-center h4">
                                <td width="150px;">Roll Number</td>
                                <td width="200px;">Name of Student</td>
                                <td width="200px;">Subject</td>
                                <td width="100px;">Score</td>
                            </tr>
                            
                            @foreach (var hs in Model.HightestScoreDetails)
                            {
                                <tr>
                                    <td class="text-center">@hs.StudentRollNumber</td>
                                    <td>@hs.StudentName</td>
                                    <td>@hs.SubjectCode<text> - @hs.SubjectTitle</text></td>
                                    <td class="text-center">@hs.Score</td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
            </table>
        }
    </center>
}