﻿@model List<RA.Web.ViewModel.StudentSummaryVM>

@{
    ViewBag.Title = "Student Summary";
}
<div style="margin-top: 100px;" />

<style>
    .navbar-wrapper {
        margin-top: 0px;
    }

    .container {
        max-width: none;
    }
</style>

<center>
    <h2>Student Summary</h2>
    <h6 class="text-info">Click on Rollno. or StudentName to View Detailed Report</h6>
    <h5>Year : @Model[0].Year</h5>
</center>
<table class="table-bordered table-responsive table-hover table-striped" style="font-size:13px;">
    <tr>
        <td class="text-center text-info">Roll Number</td>
        <td class="text-info text-center">Student Name</td>
        <td class="text-center text-info">&nbsp;SUB1&nbsp;</td>
        <td class="text-center text-info">&nbsp;MARK1&nbsp;</td>
        <td class="text-center text-info">&nbsp;GRD1&nbsp;</td>
        <td class="text-center text-info">&nbsp;SUB2&nbsp;</td>
        <td class="text-center text-info">&nbsp;MARK2&nbsp;</td>
        <td class="text-center text-info">&nbsp;GRD2&nbsp;</td>
        <td class="text-center text-info">&nbsp;SUB3&nbsp;</td>
        <td class="text-center text-info">&nbsp;MARK3&nbsp;</td>
        <td class="text-center text-info">&nbsp;GRD3&nbsp;</td>
        <td class="text-center text-info">&nbsp;SUB4&nbsp;</td>
        <td class="text-center text-info">&nbsp;MARK4&nbsp;</td>
        <td class="text-center text-info">&nbsp;GRD4&nbsp;</td>
        <td class="text-center text-info">&nbsp;SUB5&nbsp;</td>
        <td class="text-center text-info">&nbsp;MARK5&nbsp;</td>
        <td class="text-center text-info">&nbsp;GRD5&nbsp;</td>
        <td class="text-center text-info">&nbsp;SUB6&nbsp;</td>
        <td class="text-center text-info">&nbsp;MARK6&nbsp;</td>
        <td class="text-center text-info">&nbsp;GRD6&nbsp;</td>
        <td class="text-center text-info">&nbsp;INT1&nbsp;</td>
        <td class="text-center text-info">&nbsp;INT2&nbsp;</td>
        <td class="text-center text-info">&nbsp;INT3&nbsp;</td>
        <td class="text-center text-info">&nbsp;Percentage&nbsp;</td>
        <td class="text-center text-info">&nbsp;Result&nbsp;</td>
    </tr>
    @foreach (var student in Model.ToList())
    {
        <tr>
            <td id="StudentRollNumber" class="text-center">@Html.ActionLink(@student.RollNumber, "StudentDetails")</td>
            <td id="StudentName" class="text-center">@Html.ActionLink(@student.Name, "StudentDetails")</td>

            @for (int i = 0; i < student.SubjectCodes.Count; i++)
            {
                <td class="text-center">@student.SubjectCodes[i]</td>
                <td class="text-center">@student.Marks[i]</td>
                <td class="text-center">@student.Grades[i]</td>
            }
            @if(student.SubjectCodes.Count == 5)
            {
                <td class="text-center">-</td>
                <td class="text-center">-</td>
                <td class="text-center">-</td>
            }
            <td class="text-center">@student.INT1</td>
            <td class="text-center">@student.INT2</td>
            <td class="text-center">@student.INT3</td>
            <td class="text-center">@student.Percentage</td>
            <td class="text-center">@student.Result</td>
        </tr>
    }

</table>