﻿@model RA.Web.ViewModel.SubjectSummaryVM
@{
    ViewBag.Title = "Subject Summary";
}
<div style="margin-top: 100px;" />

<style>
    .navbar-wrapper {
        margin-top: 0px;
    }

    .container {
        max-width: none;
    }
</style>

<h2 class="text-center">Subject Summary</h2>
@using (@Html.BeginForm("SubjectSummary", "Analyse", FormMethod.Post))
{
    if (!IsPost)
    {
        <hr />
        <center>
            <h4> Please Select a Subject</h4>
            <label>Subject</label>
            <select id="SubjectCode" name="SubjectCode">
                @foreach (var subjectcode in @ViewBag.subjectCodes)
                {
                    <option>@subjectcode</option>
                }
            </select>
            <input type="submit" />
        </center>
    }

    if (IsPost)
    {
        <h4>Subject : @Model.SubjectTitle </h4>
        <h4>Subject Code : @Model.SubjectCode </h4>
        <h4>Year : @Model.Year</h4>
        
        <table class="table-responsive table-bordered table-striped">
            <tr class=" text-center h4">
                <td style="font-weight:bold"> &nbsp;Maximum Score&nbsp; </td>
                <td style="font-weight:bold"> &nbsp;Minimum Score&nbsp; </td>
                <td style="font-weight:bold">No. of Students</td>
            </tr>
            <tr class="text-center">
                <td class="text-success">@Model.MaxScored</td>
                <td class="text-success">@Model.MinScored</td>
                <td>
                    <table class="table-bordered table-responsive">
                        <tr class="text-center h5">
                            <td style="font-weight:bold"> &nbsp;Above 90&nbsp; </td>
                            <td style="font-weight:bold"> &nbsp;Between 90 and 80&nbsp; </td>
                            <td style="font-weight:bold"> &nbsp;Between 80 and 70&nbsp; </td>
                            <td style="font-weight:bold"> &nbsp;Between 70 and 60&nbsp; </td>
                            <td style="font-weight:bold"> &nbsp;Between 60 and 50&nbsp; </td>
                            <td style="font-weight:bold"> &nbsp;Between 50 and 40&nbsp; </td>
                            <td style="font-weight:bold"> &nbsp;Below 40&nbsp; </td>
                        </tr>
                        <tr class="text-center">
                            <td class="text-success">@Model.NoOfStudentsAbove90</td>
                            <td class="text-success">@Model.NoOfStudentsBtw90And80</td>
                            <td class="text-success">@Model.NoOfStudentsBtw80And70</td>
                            <td class="text-success">@Model.NoOfStudentsBtw70And60</td>
                            <td class="text-success">@Model.NoOfStudentsBtw60And50</td>
                            <td class="text-success">@Model.NoOfStudentsBtw50And40</td>
                            <td class="text-success">@Model.NoOfStudentsBelow40</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <hr />
        <div id="chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    }
}

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $('#chart').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: 'Subject Result Summary'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            connectorColor: '#000000',
                            format: '<b>{point.name}</b>: {point.percentage:.2f} %'
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Subject Result Summary',
                    data: [
                        ['91 to 100', @Html.DisplayTextFor(m => m.NoOfStudentsAbove90)],
                ['81 to 90',   @Html.DisplayTextFor(m => m.NoOfStudentsBtw90And80)],
                ['71 to 80', @Html.DisplayTextFor(m => m.NoOfStudentsBtw80And70)],
                ['61 to 70', @Html.DisplayTextFor(m => m.NoOfStudentsBtw70And60)],
                ['51 to 60', @Html.DisplayTextFor(m => m.NoOfStudentsBtw60And50)],
                ['41 to 50', @Html.DisplayTextFor(m => m.NoOfStudentsBtw50And40)],
                ['Below 40', @Html.DisplayTextFor(m => m.NoOfStudentsBelow40)],
                    ]
                }]
            });
        });
    </script>
}
