﻿@model RA.Web.ViewModel.ToppersVM

@{
    ViewBag.Title = "Toppers List";
}

<div style="margin-top: 100px;" />

<style>
    .navbar-wrapper {
        margin-top: 0px;
    }

    .container {
        max-width: none;
    }
</style>

<center>
    <h2>Toppers List</h2>
    <h4>Year : @Session["year"]</h4>
</center>

<h3>School Toppers</h3>
<table class="table-bordered table-striped">
    <tr>
        <td class="text-center" width="150px;"><h4>Roll Number</h4></td>
        <td class="text-center" width="150px;"><h4>student name</h4></td>
        <td class="text-center" width="150px;"><h4>Score %</h4></td>
        <td class="text-center" width="100px;"><h4>Result</h4></td>
    </tr>
    @foreach (var student in Model.SchoolTopper)
    {
        <tr>
            <td class="text-center">@student.RollNumber</td>
            <td class="text-center">@student.Name</td>
            <td class="text-center">@student.Percentage %</td>
            <td class="text-center">@student.Status</td>
        </tr>
    }
</table>
<hr />
<h3>Subject Toppers</h3>
@foreach (var item in Model.SubjectToppers)
{
    var subject = item.Key;
    var students = item.Value;
    <table class="table-bordered table-striped">
        <tr>
            <td class="text-center" width="225px;"><h4>@subject</h4></td>
        </tr>
        <tr>
            <td class="text-center" width="125px;"><b>Roll Number</b></td>
            <td class="text-center" width="150px;"><b>Student Name</b></td>
            <td class="text-center" width="150px;"><b>Score In Subject</b></td>
            <td class="text-center" width="150px;"><b>Overall Percentage</b></td>
            <td class="text-center" width="100px;"><b>Result</b></td>
        </tr>
        @foreach (var student in students)
        {
            <tr>
                <td class="text-center">@student.RollNumber</td>
                <td class="text-center">@student.Name</td>
                <td class="text-center">@student.Score</td>
                <td class="text-center">@student.OverallPercentage %</td>
                <td class="text-center">@student.Result</td>
            </tr>
        }
    </table>
    <hr />
}

