﻿@{
    ViewBag.Title = "Update Section Details";
}
<div style="margin-top: 100px;" />

<style>
    .navbar-wrapper {
        margin-top: 0px;
    }

    .container {
        max-width: none;
    }
</style>

<h2>Update Section Details</h2>
<h5>Please Select the Sections and Enter Roll Number Ranges of Student to assign them Respective Sections</h5>
@using (Html.BeginForm("UpdateSectionDetails", "Analyse", FormMethod.Post))
{
    if (!IsPost)
    {
        <table class="table-striped table-bordered">
            <tr>
                <td><h3>&nbsp;&nbsp;Section Name&nbsp;&nbsp;&nbsp;</h3></td>
                <td><h3>&nbsp;&nbsp;Start Roll Number&nbsp;&nbsp;&nbsp;</h3></td>
                <td><h3>&nbsp;&nbsp;End Roll Number&nbsp;&nbsp;&nbsp;</h3></td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;Section A</td>
                <td class="text-center"><input type="text" name="ARS"/></td>            @* ARS = Section A Roll Number Start *@
                <td class="text-center"><input type="text" name="ARE"/></td>            @* ARE = Section A Roll Number End*@
            </tr>
            <tr>
                <td>&nbsp;&nbsp;Section B</td>
                <td class="text-center"><input type="text" name="BRS" /></td>
                <td class="text-center"><input type="text" name="BRE"/></td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;Section C</td>
                <td class="text-center"><input type="text" name="CRS"/></td>
                <td class="text-center"><input type="text" name="CRE"/></td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;Section D</td>
                <td class="text-center"><input type="text" name="DRS" /></td>
                <td class="text-center"><input type="text" name="DRE"/></td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;Section E</td>
                <td class="text-center"><input type="text" name="ERS"/></td>
                <td class="text-center"><input type="text" name="ERE"/></td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;Section F</td>
                <td class="text-center"><input type="text" name="FRS"/></td>
                <td class="text-center"><input type="text" name="FRE"/></td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;Section G</td>
                <td class="text-center"><input type="text" name="GRS"/></td>
                <td class="text-center"><input type="text" name="GRE"/></td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;Section H</td>
                <td class="text-center"><input type="text" name="HRS"/></td>
                <td class="text-center"><input type="text" name="HRE"/></td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;Section I</td>
                <td class="text-center"><input type="text" name="IRS"/></td>
                <td class="text-center"><input type="text" name="IRE"/></td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;Section J</td>
                <td class="text-center"><input type="text" name="JRS"/></td>
                <td class="text-center"><input type="text" name="JRE"/></td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;Section K</td>
                <td class="text-center"><input type="text" name="KRS"/></td>
                <td class="text-center"><input type="text" name="KRE"/></td>
            </tr>

        </table>
        <input type="submit" class="btn-primary" />
    }
}

