﻿
@{
    ViewBag.Title = "Upload";
}
<div style="margin-top: 100px;" />

<style>
    .navbar-wrapper {
        margin-top: 0px;
    }

    .container {
        max-width: none;
    }
</style>

<h2>@ViewBag.Message</h2>
<h5>Upload and Analysing Your result may take some Time. Please be paitent</h5>

<form action="/Analyse/Upload" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-lg-1">
            <label> Result File : </label>
        </div>
        <div class="col-lg-6">
            <input id="file" type="file" name="file" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1">
            <label>Year: </label>
        </div>
        <div class="col-lg-6">
            <input id="year" type="text" name="year" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <button id="Submit" type="submit" class="btn btn-primary" onclick="startprocess.click()"> Submit </button>
            <button id="startprocess" data-toggle="modal" data-target="#processing-modal" hidden="hidden"> </button>
        </div>
    </div>
</form>

<!-- Static Modal -->
<div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <img src="http://www.travislayne.com/images/loading.gif" class="icon" />
                    <h4>Processing... <i class="close" style="float: none;" data-dismiss="modal" aria-hidden="true">×</i></h4>
                </div>
            </div>
        </div>
    </div>
</div>
