﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Result Analyzer</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/carousel.css" />
</head>
<body>
    <!--Nevigation Bar-->
    <div class="navbar-wrapper">
        <div class="container">
            <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="~/">Result Analyzer</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="~/Analyse/">Home</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Analyse <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="~/Analyse/">Home</a></li>
                                    <li>@Html.ActionLink("School Summary", "SchoolSummary", "Analyse")</li>
                                    <li>@Html.ActionLink("Toppers List", "Toppers", "Analyse")</li>
                                    <li>@Html.ActionLink("Subject Summary", "SubjectSummary", "Analyse")</li>
                                    <li>@Html.ActionLink("Roll Sheet Percentage Wise", "StudentSummary", "Analyse")
                                    <li>@Html.ActionLink("Section Summary", "SectionSummary", "Analyse")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Upload Result", "Upload", "Analyse")</li>
                                    <li>@Html.ActionLink("Update Section Details", "UpdateSectionDetails", "Analyse")</li>
                                </ul>
                            </li>
                        </ul>
                        @RenderPage("_LoginPartial.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!-- Nagivation bar End-->

    @RenderSection("Featured", required: false)
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Result Analyzer</p>
            <p>Developed and maintained by Ankur Tyagi</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
